.main-view {
  grid-area: main-view ;
  overflow-y: scroll;
  max-height: calc(100vh - 64px - 90px);
  background: linear-gradient(180deg, #222222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18) 100%);
}

.main-view::-webkit-scrollbar {
  background: none;
  width: 12px;
}

.main-view::-webkit-scrollbar-thumb {
  background: #535353;
}

.main-view::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

