.nav-bar {
  grid-area: nav-bar;
  width: 260px;
  padding: 25px;
  background-color: black;
}

.nav-bar_logo {
  width: 130px;
  margin-bottom: 18px;
  cursor: pointer;
}

ul {
  list-style: none;
  color: #FFFFFF;
}

ul::after {
  content: '';
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b3b3b3;
  opacity: 0.3;
}

li {
  display: flex;
  align-items: center;
  height: 40px;
  opacity: 0.7;
  font-weight: 700;
  font-size: 14px;
  gap: 16px;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
    text-decoration: none;
  }
}

li:hover {
  opacity: 1;
  transition: all 0.5s;
}

li:active {
  transform: scale(0.97);
  transition: all 0.3s;
}

.active {
  opacity: 1;
}

@media (max-width: 749px) {
  .nav-bar {
    width: 100%;
    padding: 0 25px;
    z-index: 1;
    
    .nav-bar_logo {
      display: none;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  ul::after {
    content: '';
    display: none;
  }

  ul > li > a > p {
    display: none;
  }

  ul > li > span {
    display: none;
  }


}
