.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.button-menu {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    transition: all 0.3s ease;
    font-size: 13px;
    font-weight: 700;
    padding: 2px 6px 2px 2px;
    border-radius: 23px;

    &:hover {
        background-color: #282828;
    }

    .button-menu__avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #535353;
        margin-right: 8px;
    }

    .button-menu__name {
        margin-right: 8px;
    }
}

.menu {
    position: relative;
}

.modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 35px;
    padding: 2px;
    background-color: #282828;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
}

.hidden {
    display: none;
}

.modal-btn {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.modal-btn:hover {
    background-color: #4d4c4c;
}

@media (max-width: 749px) {
    .modal {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 50%;
        transform: translateX(100%);
        height: 35px;
        padding: 2px;
        background-color: #282828;
        border-radius: 4px;
        box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    }

    .hidden {
        display: none;
    }

}
