.playlist-editor-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.playlist-editor-modal--hidden {
    display: none;
}

.playlist-editor {
    width: 400px;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;

    .playlist-editor__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        font-weight: 700;

        .playlist-editor__cancel-btn {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transition: all ease 0.3s;

            svg {
                position: absolute;
                top: 50%; 
                left: 50%; 
                transform: translate(-50%,-50%); 
            }

            &:hover {
                background-color: #484848;
            }
        }
    }

    .playlist-editor__input {
        background: hsla(0,0%,100%,.1);
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        font-family: inherit;
        font-size: 14px;
        height: 40px;
        padding: 0 12px;
        width: 100%;
        margin-bottom: 15px;
    }

    .playlist-editor__description {
        background: hsla(0,0%,100%,.1);
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        font-family: inherit;
        font-size: 14px;
        padding: 12px 12px 28px;
        resize: none;
        width: 100%;
        height: 100px;
        outline: none;
        margin-bottom: 15px;
    }

    .playlist-editor__btn {
        background-color: #fff;
        padding: 15px 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 16px;
        align-self: flex-end;
        transition: background-color ease 0.3s;

        &:hover {
            background-color: #e1dede;
        }
    }
}