.card-wrapper {
  position: relative;
  cursor: pointer;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 207px;
  min-height: 300px;
  padding: 20px;
  background: #181818;
  border-radius: 6px;
}


.card-img {
  width: 167px;
  height: 167px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.2275) 26.44%);
  border-radius: 6px;

  img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.5);
  }
}

.playlist-link{
  text-decoration: none;
}

.card-text {
  margin-top: 20px;
}

.card-name {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-dscr {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b3b3b3;
  max-height: 45px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-play-btn {
  position: absolute;
  top: 130px;
  left: 130px;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #1ED760;
  border-radius: 50%;
  box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
}

// .card-play-btn:hover {
//   transform: scale(1.1);
//   transition: all 0.5s;
//   cursor: default;
// }

.hover {
  display: flex;
  background: #3b3b3b;
  transition: all 0.5s;
  opacity: 1;
}

.modal-context {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 2px;
  background-color: #282828;
  border-radius: 4px;
  box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
}

.context-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mixes-search .card-img {
  border-radius: 50%;
  
  img {
    border-radius: 50%;
  }
}


@media (max-width: 749px) {
  .card {
    width: 167px;
    padding: 0;
    background: none;
    border-radius: none;
  }
}
