.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 207px;
  min-height: 300px;
  padding: 20px;
  background: #181818;
  border-radius: 6px;
  cursor: pointer;
}

.card-img {
  width: 167px;
  height: 167px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.2275) 26.44%);
  border-radius: 6px;
}

.card-name {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-dscr {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b3b3b3;
  max-height: 40px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
