.search-result-artist__container {
  width: 35%;
}

.search-result-artist {
  width: 100%;
  height: 235px;
  border-radius: 5px;
  background-color: #181818;
  
  
  &:hover {
    background-color: #282828;
  }
  
  a {
    text-decoration: none;
  }
}

.search-result-artist__title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  padding: 20px;
}

.search-result-artist__image {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  padding: 20px;
}

@media (max-width: 749px) {
  .search-result-artist__container {
    width: 100%;
  }
}
