.track-page {
  background: #222222;

  .popular-tracks {
    padding: 0 32px;

    .popular-tracks_title{
      font-size: 0.875rem;
      color: #b3b3b3;
    }

    .popular-tracks_artist {
      margin-bottom: 30px;
      font-size: 1.5rem;
      font-weight: 700;
      color: #FFFFFF;
    }
  }
}
