@import './base/normalize';

@import './abstracts/variables';

@import './components/Buttons';
@import './components/PlayingBar/PlayingBar';
@import './components/PlayingBar/PlayingWidget';
@import './components/PlayingBar/PlayerControls';
@import './components/PlayingBar/PlayerTools';

@import './layout/NavBar';
@import './components/SettingsBar';
@import './layout/HomePage';
@import './components/MixesBlock';
@import './components/Mix';

@import './pages/AuthPage';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DM Sans';
}

main {
  display: flex;
}
